@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.row-content {
  padding: 40px 0px 40px 0px;
}

.MDBFooter {
  /*background-color: #eeeeee;*/
  background-color: #eeeeee;
}

.jumbo {
  color: white;
  background-color: #5bc0de;
}

.modal-header {
  color: #eeeeee;
  /*background-color: #5bc0de;*/
  background-color: #d9534f;
}

.Jumbotron {
  background-color: #5bc0de;
}

.modal-backdrop.fade.in {
  opacity:0.5 !important;
}

button.close {
  color: white;
  opacity: .7;
}

.modal-body {
  word-wrap: break-word;
}

.modal-bottom {
  background-color: #eeeeee;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.clear-button {
  padding-top: 20px;
  text-align: right;
}